body {
	padding: 0px;
	margin: 0px;
	background-color: #efefef;
	font: normal 100%;
	font-family: 'Raleway', sans-serif;
}
.page-header {
	height: 100px;
	background-color: #3a3a3a;
	margin: 0px;
	padding: 30px;
}
h1{
	color: #fff;
	text-shadow: 0px 0px 2px #f59707;
	margin: 0px;
	width: 250px;
	float: left;
}
.skills{
	font-size: 18px;
}
#myNavbar {
	float: right;
	padding: 0;
}

#star {
	color: #f59707;
}

#home {
	font-size: 15px;
}

.navbar-inverse .navbar-brand {
	font-size: 30px;
	padding: 3px 0;
	color: #fff;
}

.navbar-inverse {
	background-color: #3a3a3a;
	border: none;
	font-size: 15px;
	position: relative;
	z-index: 10;

}

.navbar-inverse .navbar-toggle:hover {
	background-color: #f59707;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
	background-color: #f59707;
	margin-top: 5px;
	border-radius: 5px;
	padding: 10px 20px;
}
.navbar-inverse .navbar-nav>li>a:hover {
	/* background-color: #f59707;
	border-radius: 5px;
	padding: 10px 20px; */
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
	background-color: #f59707;
	border-radius: 5px;
	padding: 10px 20px;
}
.navbar-inverse .navbar-nav>li>a {
	text-align: center;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	min-width: 200px;
	padding: 0;
	overflow: hidden;
}

.navbar-collapse.in {
	overflow: hidden;
}

.dropdown-menu {
	background-color: #3a3a3a;
}

.dropdown-menu>li>a {
	color: #fff;
	text-align: center;
	padding: 10px 0;
}
.dropdown-menu>li>a:hover {
	background-color: #f59707;
	color: white;
}

.container {
	padding: 0px;
}

#container {
	padding: 0px;
}
#photo {
	margin-top: 50px;
}

#carousel-example-generic {
		max-height: 600px;
		margin-top: 50px;
		position: relative;
		z-index: 2;
		box-shadow: 0px 0px 10px black;
}

.img-responsive {
	/* max-height: 600px; */
	box-shadow: 0px 0px 10px black;
	margin: 0px auto;
	padding: 0px;
	position: relative;
	z-index: 2;
}

#boxes {
	/*height: 300px;
	background-color: #d6d6d6;*/
}

#rowthumb {
	margin: 0px;
}
#thumbnail1, #thumbnail2, #thumbnail3, #thumbnail4 {
	height: 150px;
	box-shadow: 0px 0px 2px black;
	margin: 0;
	border-radius: 0 0 5px 5px;
	padding-top: 40px;
	font-size: 30px;
	text-align: center;
	color: #f59707;
	position: relative;
	z-index: 1;
}
#thumbnail1:hover,#thumbnail2:hover,#thumbnail3:hover,#thumbnail4:hover {
	background-color: rgba(230, 230, 230, 0.5);
	font-size: 40px;
	padding-top: 30px;
}
#box1, #box2, #box3, #box4{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}

.thumbnail .caption {
	color: #ff0000;
	padding: 0px;
	margin: 0px;
}

h3 {
	margin: 0px;
	padding: 0px;
	color: #f59707;
}
h2 {
	color: #f59707;
	margin: 20px auto;
}
.portfoliop{
	margin: 30px;
	text-align: left
}
.footer {
	min-height: 100px;
	background-color: #3a3a3a;
	margin: 50px 0 0;
	padding: 40px;
	color: #fff;
	font-size: 20px;
	text-align: center;
}
#contactRow {
	margin-top: 50px;
	padding: 30px;
	/* max-width: 900px; */
}
#contactImg {
	border-radius: 500px;
	text-align: center;
	margin-bottom: 20px;
}
#contactImg2 {
	/* border-radius: 500px; */
	box-shadow: 0 0 30px #f59707;
}
#message {
	height: 100px;
}

#asides {
}
.aside {
	margin: 80px 20px;
}
.h2edu {
	text-align: center;
	color: #f59707;
	margin-bottom: 40px;
	font-size: 40px;

}
.h3edu {
	color: #000000;
	font-size: 21px;
	margin: 20px 0 10px;
}
p {
	font-size: 18px;
}

#h2photo {
	padding: 0 15px;
}

#aboutimg {
	border-radius: 500px;
	margin: 10px 0;
	text-align: center;
	padding: 10px;
}
#aboutimg2 {
	border-radius: 500px;
	box-shadow: 0 0 30px #f59707;
}
#aboutrow {
	margin-top: 50px;
	padding: 30px;
}
#dinner {
	margin-bottom: 20px;
}
#ok {
	width: 60%;
	margin-bottom: 20px;
}
#asideprojekti {
	text-align: center;
	margin: 0 20px;
}
#asideprojekti1 {
	margin: 80px 20px;
	text-align: center;
}
#asideprojekti2 {
	margin: 80px 20px;
	text-align: center;
}
#asideprojekti3 {
	text-align: center;
	margin: 0 20px;
}
#templates {
	margin: 0 0 20px;
}
video {
	width: 100%;
}

#health{
	/* width: 1000px; */
}
#react{
	margin-top: 50px;
}
#todo{
	max-height: 600px;
}
#link{
	margin-top: 20px;
	text-align: center;
}
.link{
	text-align: center;
	font-size: 30px;
	text-decoration: none;
}
.link:hover{
	text-align: center;
	font-size: 30px;
	text-decoration: none;
}