  /*****************
    general styles
  *****************/

  .h2{
    color: white;
  }

  .input {
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    outline: none !important;
    border-radius: 5px;
    border-color: orange;
    font-size: 20px;
  }
  .button {
    padding: 10px;
    border-radius: 10px;
    outline: none !important;
    background-color: orange;
    border-color: orange;
    color: white;
    font-size: 20px;
  }

  /******************************
    String Item Counter styles
  ******************************/

  #stringCounterContent {
    box-shadow: 0px 0px 10px black;
    text-align: left;
    overflow: auto;
    background-color: rgb(0, 114, 44);
    padding: 20px;
    margin-bottom: 20px;
  }
  .inputText {
    width: 85%;
    margin-bottom: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
  }
  .textDiv {
    border-radius: 5px;
    width: 200px;
    text-align: center;
    font-size: 18px;
    float: left;
    background-color: grey;
    color: white;
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .value {
    font-size: 16px;
    margin-top: 5px;
  }


  /********************
    RM Counter styles
  ********************/

  .counterContent {
    box-shadow: 0px 0px 10px black;
    background-color: rgb(0, 114, 44);
    padding: 20px;
    margin-bottom: 20px;
  }
  .rmCounterInfo {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 2px 8px;
  }
  #rmResult {
    margin-top: 20px;
  }
  #error {
    color: white;
  }
  table, th, td {
    font-size: 20px;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    border-color: orange;
    background-color: white;
  }


  /*******************
    Time to New Year
  *******************/

  .newYearTimer {
    box-shadow: 0px 0px 10px black;
    background-color: rgb(0, 114, 44);
    padding: 20px;
  }
  #timerContent {
    overflow: auto;
    margin: auto;
    width: 100%;
  }
  .timerDiv {
    border-radius: 5px;
    width: 48%;
    text-align: center;
    font-size: 18px;
    float: left;
    background-color: rgba(133, 133, 133, 0.5);
    color: white;
    padding: 30px;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2%;
  }
  .text {
    margin-bottom: 10px;
  }
  .value {
    margin-bottom: 0px;
  }