:root {
    --primary: rgb(0, 106, 168);
    --primary-text: rgb(53, 53, 53);
    --secondary-text: rgb(255, 255, 255);
    --primary-box-shadow: rgb(255, 255, 255);
    --secondary-box-shadow: rgb(53, 53, 53);
    --primary-font-family: 'Montserrat', sans-serif;
    --secondary-font-family: 'Kalam', cursive;
}

html {
    font-family: var(--primary-font-family);
}

body {
    margin: 0 auto;
    max-width: 960px;
    color: var(--primary-text);
}

a {
    color: var(--primary-text);
}

a[href^=tel] {
    text-decoration:inherit;
    color: inherit;
 }








/* Headers*/
.main-header {
    font-family: var(--primary-font-family);
    position: relative;
    width: 100%;
    height: 300px;
}

.img {
    position: absolute;
    z-index: 10;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 70px;
    bottom: 0;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0px 2px 5px var(--primary-box-shadow);
    animation: color-me-in 10s infinite;
}

.oval {
    position: absolute;
    bottom: 17%;
    width: 100%;
    height: 100px;
    margin: 0;
    border-radius: 50%;
    background-color: var(--primary);
}

.square {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    margin: 0;
    background-color: var(--primary);
}

.header-text-group {
    font-family: var(--secondary-font-family);
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 10px;
    text-align: left;
}

.header-name {
    margin: 0;
    font-size: 1.375em;
    line-height: 1em;
    color: var(--secondary-text);
}

.header-description {
    margin: 0;
    margin-bottom: 10px;
    font-size: 1.125em;
    line-height: 1em;
    color: var(--secondary-text);
}


.secondary-header {
    text-align: center;
    position: relative;
    height: 150px;
    padding: 30px 10px;
    background-color: var(--primary);
    color: var(--secondary-text);
}

.header-title {
    margin: 0;
    font-size: 25px;
}

.header-title-2 {
    margin: 10px;
    font-size: 20px;
}

.header-date {
    margin: 0;
    font-size: 18px;
}










/*Mainpage*/
main {
    padding: 20px 0;
}

.main-title {
    text-align: center;
    color: var(--primary-text);
}

.grid {
    padding: 30px 20px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: auto;
}

.card {
    width: 100%;
    display: flex;
    flex-direction: row;
    animation: fadeIn 5s;
    text-decoration: none;
    color: var(--primary-text);
    border-radius: 20px 0 20px 0;
    box-shadow: 0px 1px 2px var(--secondary-box-shadow);
}

.card-image {
    width: 100%;
    height: 100%;
    max-width: 500px;
    object-fit: cover;
    border-radius: 20px 0 20px 0;
    box-shadow: 0.5px 0.5px 2px var(--secondary-box-shadow);
}

.card-information {
    width: 40%;
    padding: 2% 5%;
}

.card-title {
    margin-top: 0;
    font-size: 20px;
}

.card-text-group {
    margin: 8px 0;
}

.card-text-title {
    font-size: 18px;
    font-weight: bolder;
    color: var(--primary-text);
    line-height: 1.4;
}

.card-text {
    font-size: 18px;
    color: var(--primary-text);
    line-height: 1.4;
}

.skills {
    margin: 50px 0;
    padding: 20px 0;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    color: var(--secondary-text);
    background-color: var(--primary);
}

.skills h2 {
    margin-bottom: 50px;
}

.skills-content {
    display: grid;
    grid-gap: 50px 0;
    grid-template-columns: auto auto auto auto;
    text-align: center;
}

i {
    font-size: 40px;
}

.aws {
    grid-column-start: 1;
    grid-column-end: 4;
}

.api {
    grid-column-start: 4;
    grid-column-end: 5;
}

.wordpress-content {
    grid-column-start: 1;
    grid-column-end: 5;
}

.aws-content, .api-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.experience {
    display: grid;
    grid-gap: 50px 50px;
    grid-template-columns: auto auto;
    padding: 0 20px;
}

.work-item {
    margin: 40px 0;
}

.work-item p {
    color: var(--primary-text);
}










/* Documentation */

.back-link {
    width: 100%;
    max-width: 960px;
    margin: 20px 0 0;
    text-align: left;
    font-size: 18px;
}

.introduction-content, .structure-content, .learned-content {
    padding: 0 0 20px;
}

.figcaption {
    width: 96%;
    max-width: 500px;
    margin: 0 auto 50px;
    padding-left: 2%;
    text-align: left;
}

.video-container {
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    overflow: hidden;
    position: relative;

}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.documentation {
    margin: 0 auto;
    width: 90%;
    max-width: 500px;
}

.documentation h2 {
    text-align: center;
    font-size: 20px;
}

.documentation h3 {
    text-align: center;
    font-size: 18px;
}

.documentation-image {
    width: 100%;
    max-width: 500px;
}






/* footer */
footer {
    margin-top: 50px;
    width: 100%;
    max-width: 960px;
    padding: 10px 0;
    text-align: center;
    color: var(--secondary-text);
    background-color: var(--primary);
}

footer p {
    margin: 20px 0;
    font-size: 20px;
    color: var(--secondary-text);
    line-height: 1.4;
}

.email {
    font-size: 20px;
    color: var(--secondary-text);
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px;
}

.social-item {
    color: var(--secondary-text);
}




@media screen and (max-width: 600px) {

    .card {
        flex-direction: column;
    }

    .card-information {
        width: 90%;
    }

    .card-title {
        margin-top: 10px;
        font-size: 18px;
    }
    
    .card-text-title {
        font-size: 16px;
    }

    .card-text {
        font-size: 16px;
    }

    .grid {
        padding-top: 30px;
        display: grid;
        grid-template-columns: auto;
    }

    .experience {
        grid-template-columns: auto;
    }

    .javascript-content {
        grid-column-start: 1;
        grid-column-end: 5;
    }

    .aws {
        grid-column-start: 1;
        grid-column-end: 5;
    }

    .aws-content {
        display: block;
    }
    
    .api {
        grid-column-start: 1;
        grid-column-end: 5;
    }
    
  }


  @keyframes color-me-in {
    0% {
      box-shadow: 0px 5px 15px rgb(255, 255, 255);
    }
  
    33% {
      box-shadow: 0px 5px 15px rgb(136, 193, 255);
    }
  
    66% {
      box-shadow: 0px 5px 15px rgb(0, 140, 255);
    }
  
    100% {
      box-shadow: 0px 5px 15px rgb(255, 255, 255);
    }
  }

  @-webkit-keyframes fadeIn {
      from { opacity: 0; }
      to { opacity: 1; }
  }
  @keyframes fadeIn {
      from { opacity: 0; }
      to { opacity: 1; }
  }
